/*GLOBALLY*/
@font-face {
  font-family: "vazirmatn";
  src: url(../woff/Vazirmatn-Light_2.woff) format(wof);
}
@font-face {
  font-family: "vazirmatn";
  src: url(../woff/Vazirmatn-Regular_2.woff) format(wof)
    url(../ttf/Vazirmatn-Regular.ttf);
}
* {
  font-family: "vazirmatn";
  transition: all 0.3s;
  direction: rtl;
}
body {
  background-color: #f5f5f5;
  padding: 0px;
  color: #333533;
}
ul {
  padding: 0;
  list-style: none;
}
h5 {
  font-size: 19px;
  font-weight: 500;
  color: #a0a0a0;
  margin-bottom: 5px;
}
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* HEADER */

.header h1 {
  font-family: "Courier New", Courier, monospace;
}
.header .position i,
.header .title h1,
.butten i {
  color: #000000;
}

.header,
.container {
  display: flex;
  padding: 25px 0px;
  justify-content: center;
}
.header {
  background-color: pink;
  height: 200px;
  align-items: center;
  align-items: center;
}
.header .title {
  margin: 0 50px;
}
.header .title h1 {
  margin: 0;
  line-height: 1;
}

.header .position {
  color: #000000;
  font-weight: 350;
  margin-bottom: 35px;
}
.header .position i {
  margin-right: 6px;
}
.butten {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px 24px;
}
.butten:hover,
.butten:hover i {
  background-color: rgb(255, 121, 143);
  color: #333533;
}
.butten i {
  margin-left: 6px;
}
.lang {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 4px 8px;
  opacity: 0.5;

  font-size: 12px;
  align-self: flex-start;
}
.lang i {
  color: #000000;
  margin-left: 4px;
}
.lang:hover,
.lang i:hover {
  opacity: 1;
}

.header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 30px;
}
.butten i {
  margin-left: 10px;
}

/*NAVBAR*/

.container nav {
  width: 250px;
  font-size: 20px;
  padding-right: 40px;
  position: fixed;
  right: 40px;
  top: 280px;
}
.container nav ul li:hover {
  cursor: pointer;
}
.container nav li {
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
.container nav ul li .marker {
  width: 42px;
  height: 42px;
  border: 1px solid #333533;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
  margin-left: 12px;
}
.container nav ul li.active .marker,
.container nav ul li:hover .marker {
  background-color: pink;
  color: #333533;
}
.container nav ul li:hover .marker {
  font-size: 22px;
}
.container nav ul li:not(:last-child):after {
  content: "";
  display: block;
  height: 48px;
  border-right: 1px dashed #333533;
  margin: 16px 21px 16px 0px;
}

/*SECTIONS*/

.resume {
  display: none;
}

.marker {
  width: 30px;
  height: 30px;
  border: 1px solid #333533;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: 5px 0px 5px 5px;
}

.section {
  width: 600px;
  border-right: 1px solid #333533;
  padding-right: 100px;
  margin-right: 300px;
}
section p {
  line-height: 2;
  font-weight: 600;
}

.contact .email {
  width: 60%;
}
.contact .number {
  width: 40%;
}
.con .contact p {
  margin: 0px;
}
.contact i {
  margin-right: 5px;
  font-size: 12px;
  color: #a0a0a0;
  cursor: pointer;
}
.contact i:hover {
  color: #333533;
}
.social li {
  display: inline-block;
  margin-left: 24px;
}
.social li span {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.social li span.whatsapp {
  background-image: url("../icons/whatsapp.png");
}
.social li span.whatsapp:hover {
  background-image: url("../icons/whatsapp-hover.png");
}
.social li span.instagram {
  background-image: url("../icons/instagram.png");
}
.social li span.instagram:hover {
  background-image: url("../icons/instagram-hover.png");
}

.social li span.telegram {
  background-image: url("../icons/telegram.png");
}
.social li span.telegram:hover {
  background-image: url("../icons/telegram-hover.png");
}
.skills li:not(:last-child) {
  border-bottom: 1px solid #333533;
}

.mobile-nav {
  display: none;
}
